<div class="container">
    <div class="d-flex justify-content-center">
        <SocialLink />
        <div class="align-self-center">
            <span class="text-muted"> @ThisTime.Year</span>
        </div>
    </div>
</div>

@code{
    private DateTime ThisTime;
    protected override async Task OnInitializedAsync()
    {
        ThisTime = DateTime.Now;
    }
}