@inherits LayoutComponentBase


<header class="p-3 bg-dark text-white">
    <NavMenu />
</header>


    <div class="content px-4">
        @Body
    </div>

<footer class="footer mt-auto py-3 bg-light">
    <Footer />
</footer>

