<a href="https://vk.com/id13352232" target="_blank"><img class="img-ico" src="/Blog/img/ico/ivk.png" title="vk" /></a>
<a href="https://www.youtube.com/channel/UC_VQ1L7rLXcQV7vxhmv1Baw" target="_blank"><img  class="img-ico" src="/Blog/img/ico/iyt.png" title="Youtube" /></a>
<a href="https://github.com/xaarrus" target="_blank"><img  class="img-ico" src="/Blog/img/ico/igh.png" title="Github, so why?" /></a>