@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
    flex: 1;
}

.spinner-border {
    margin: auto;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.h-690 {
    min-height: 690px;
}

.invalid {
    outline: 1px solid red;
}

.img-ico {
    height: 30px;
    width: 30px;
}

.validation-message {
    color: red;
}

body {
    background-image: url(/Blog/img/bg-site.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.footer {
    width: 100%;
    white-space: nowrap;
}

.my-00 img {
    max-height: 500px;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* war3 */
.war3logo {
    margin: 0 auto;
    display: block;
}
/* start notebook */
.notebook-body {
    background-image: url(/Blog/img/NoteBook/NoteBookBgBody.png);
    background-repeat: repeat-y;
    background-size: contain;
    background-position: center;
    min-height: 90px;
    min-width: 848px;
}

    .notebook-body:before {
        content: "";
        display: block;
        background-image: url(/Blog/img/NoteBook/NoteBookBgHeader.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        min-height: 90px;
        min-width: 848px;
    }

    .notebook-body:after {
        content: "";
        display: block;
        background-image: url(/Blog/img/NoteBook/NoteBookBgFooter.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        min-height: 90px;
        min-width: 848px;
    }

.notebook-main {
    background-image: url(/Blog/img/NoteBook/NoteBookBg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    min-height: 551px;
    min-width: 848px;
}
/* Start calc */
.h-80 {
    height: 80px;
}

.arw-down:after {
    content: "";
    height: 15px;
    background: url(/Blog/img/NoteBook/calc/skarw01_1.png) no-repeat;
    top: 60px;
    right: -15px;
    position: relative;
    display: block;
}

.arw-right:after {
    content: "";
    height: 10px;
    background: url(/Blog/img/NoteBook/calc/skarw-right.png) no-repeat;
    top: -42px;
    right: -40px;
    position: relative;
    display: block;
    background-size: 40px 10px;
}

.arw-right-down:after {
    content: "";
    height: 39px;
    background: url(/Blog/img/NoteBook/calc/skarw05_1.png) no-repeat;
    top: 20px;
    right: 20px;
    position: relative;
    display: block;
}

.btn-plus {
    margin-top: 26px;
    float: right;
    width: 14px;
    height: 14px;
    background: url(/Blog/img/NoteBook/calc/skbup_1.png) -14px 0px no-repeat;
    border: none;
}

.btn-minus {
    margin-top: 26px;
    float: left;
    width: 14px;
    height: 14px;
    background: url(/Blog/img/NoteBook/calc/skbdown_1.png) -14px 0px no-repeat;
    border: none;
}

    .btn-plus:active, .btn-minus:active {
        transform: translateY(2px);
    }

.counter-skill-lv {
    text-align: center;
    color: orangered;
    width: 40px;
    display: block;
    font-size: 13px;
}

.counter-skill-lv-bg {
    z-index: -1;
    background: url(/Blog/img/NoteBook/calc/skpitbg_1.png) 0px -2px no-repeat;
}

.chwar {
    display: block;
    width: 70px;
    height: 70px;
    background: url(/Blog/img/NoteBook/calc/chclassmap.png) 0px 0px no-repeat;
}

.chmag {
    display: block;
    width: 70px;
    height: 70px;
    background: url(/Blog/img/NoteBook/calc/chclassmap.png) -70px 0px no-repeat;
}

.charc {
    display: block;
    width: 70px;
    height: 70px;
    background: url(/Blog/img/NoteBook/calc/chclassmap.png) -140px 0px no-repeat;
}

.chthi {
    display: block;
    width: 70px;
    height: 70px;
    background: url(/Blog/img/NoteBook/calc/chclassmap.png) -210px 0px no-repeat;
}

.chwarbg {
    background: url(/Blog/img/NoteBook/calc/skbg01_1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.chmagbg {
    background: url(/Blog/img/NoteBook/calc/skbg02_1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.charcbg {
    background: url(/Blog/img/NoteBook/calc/skbg03_1.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.chthibg {
    background: url(/Blog/img/NoteBook/calc/skbg04_1.png) no-repeat;
    background-size: cover;
    background-position: center;
}
/* End calc */
.loading-wheel {
    display: block;
    margin: 15% 50%;
    width: 73px;
    height: 86px;
    background: url(/Blog/img/NoteBook/idwheel_1.png);
    animation: loadingWheelTwo 0.5s steps(1) infinite;
}

@keyframes loadingWheel {
    0% {
        background-position: -73px -85px;
    }

    25% {
        background-position: -146px -85px;
    }

    50% {
        background-position: -73px -171px;
    }

    75% {
        background-position: -146px -171px;
    }
}

@keyframes loadingWheelTwo {
    0% {
        background-position: -146px -171px;
    }

    25% {
        background-position: -73px -171px;
    }

    50% {
        background-position: -146px -85px;
    }

    75% {
        background-position: -73px -85px;
    }
}
/* end notebook */
