@page "/"

<Title value="Главная" />


<div>
    <div>
        <h1>Проекты над которыми сейчас занимаюсь:</h1>
    </div>
    <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                <button class="accordion-button collapsed bg-secondary bg-gradient text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                    #1 Блог
                </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingOne">
                <div class="accordion-body">
                    <p>
                        <strong>Современные технологии для сайтов.</strong> Использование SPA приложения  для ведения своих работ. <code>C#, .Net, Blazor WA</code> В ногу с прогрессом!
                    </p>
                    <a class="btn btn btn-outline-dark" tabindex="-1" role="button" href="https://github.com/xaarrus/Blog" target="_blank">GitHub</a>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                <button class="accordion-button collapsed bg-secondary bg-gradient text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                    #2 Discord бот
                </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                <div class="accordion-body">
                    <p><strong>Помощник.</strong> От базовых команд для личного пользования, до помощи в управлении сервером.</p>
                    <button class="btn btn-outline-dark disabled">Ссылка на проект скоро</button>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                <button class="accordion-button collapsed bg-secondary bg-gradient text-dark" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                    #3 Multy Platform Chat Reader
                </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                <div class="accordion-body">
                    <p>
                        <strong>Потоковое вещание - это эмоции.</strong>WPF настольное приложение не требующее установки. Поможет отслеживать чат с разных платформ. Более подробно по ссылке ниже на GitHub проекта.
                    </p>
                    <a class="btn btn-outline-dark" tabindex="-1" role="button" href="https://github.com/xaarrus/MultyPlatformChatReaderApp" target="_blank">GitHub</a>
                    <a class="btn btn-outline-dark" tabindex="-1" role="button" href="https://disk.yandex.ru/d/xQ74ua9geyAw7g" target="_blank">Яндекс.Диск</a>
                </div>
            </div>
        </div>
    </div>
</div>