@page "/navnotebook"

<div class="d-flex">
    <a href="/Blog/notebook/notes" class="nav-link nav-note-p2"><span title="Список заметок" class="oi oi-list"></span></a>
    <a href="/Blog/notebook/streams" class="nav-link nav-note-p1"><span title="Список стримов" class="oi oi-video"></span></a>
</div>