@page "/notebook/streams"

<Title Value="Блокнот - Стримы" />

<NavNoteBook />
<div class="notebook-body">
    <div class="row justify-content-evenly">
        <div class="col-md-6">
            <GoodGameTopStreams />
        </div>
        <div class="col-md-4">
            <GoodGameFavorites />
        </div>
    </div>
</div>