@page "/warcraft"

<Title Value="Warcraft III" />

<div>
    <img class="war3logo" src="/Blog/img/game/war3/war3logo.png" />
    <div class="bg-secondary text-center rounded-3  mb-3 p-3" style="width: 30%;margin: auto;">
        <h3>Warcraft 3 заметки для карты HofE</h3>
        <a href="http://hero-empire.com" class="btn btn-outline-dark" target="_blank">Official Site creator map HofE</a>
    </div>
</div>
<MergeListWarcraft />

@code {

}
